@charset "UTF-8";
/*# sourceMappingURL=style.css.map */
/* couleurs maquetting */
h2 {
  margin: 0px 0px;
  padding: 10px 0px;
  text-align: center;
  font-size: 32px;
  border-top: 2px solid #FBFDF7;
  color: #FBFDF7; }

body {
  background-color: #808080; }

.contain-page {
  padding: 50px 0px; }

/** page de présentation **/
.presentation-page {
  background-color: #CCCDCD; }

.presentation-intro {
  padding: 10px 42px; }

.name-h1 {
  font-size: 42px; }

.presentation-quality {
  padding: 8px 12px; }

/** Page : Compétence **/
/** Css compétence **/
.skills-page {
  background-color: #333333;
  color: #FBFDF7; }

/* Menu compétence */
.skills-list {
  margin: 24px 0px 0px 0px;
  text-align: center; }

.icone {
  color: #808080;
  margin: 10px 12px; }

.icone:hover {
  color: #FBFDF7; }

.devicon-size {
  font-size: 50px; }

.fa-size {
  font-size: 60px; }

/* Fin Menu Compétence */
.devicon-zoom {
  font-size: 100px;
  float: right;
  margin-right: 15px; }

.fa-zoom {
  font-size: 100px;
  float: right;
  margin-right: 15px; }

.skill-progress-bar {
  height: 38px;
  border: 2px solid black;
  padding: 2px;
  width: 100%; }

.skill-progress-jauge {
  background-color: #FBFDF7;
  width: 60%;
  height: 100%; }

.contain-skill-progress-bar {
  margin-top: 9px; }

.contain-skill-maitrise {
  padding-bottom: 28px; }

/** Page Css Projets **/
.project {
  background-color: #CCCDCD;
  margin: 0.5%;
  width: 32.33%;
  height: 400px; }

.project p {
  font-size: 14px; }

.project h3 {
  font-size: 17px;
  margin: 4px;
  width: 100%; }

.project-header {
  min-height: 60px; }

.project-image {
  max-height: 200px;
  overflow: hidden; }

.techno-ul {
  padding: 18px 8px;
  margin: 0px;
  clear: both; }

.techno-li {
  background-color: #333333;
  color: #FBFDF7;
  margin: 2px 0px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500; }

.locked {
  color: #808080; }

/** Zone css Timeline **/
.timeline-page {
  background-color: #CCCDCD; }

.timeline-page h3 {
  text-align: center; }

.contain-diplomes {
  text-align: center; }

.contain-timeline-diplome {
  padding: 24px 16px; }

strong {
  color: #333333;
  font-size: 16px; }

.sous-texte {
  font-size: 14px; }

.contain-formation p {
  margin: 8px 0px; }

.contain-formation {
  padding: 10px 16px 24px 24px;
  border-left: 2px solid #808080; }

@media only screen and (min-width: 460px) {
  /*  Responsive sur 12 col */
  .devicon-zoom, .fa-zoom {
    font-size: 100px;
    float: right;
    margin-right: 15px; }

  .skills-page h3 {
    font-size: 44px;
    margin: 0px; }

  .pourcent {
    font-size: 48px;
    text-align: right; }

  .project {
    background-color: #CCCDCD;
    margin: 0.5%;
    width: 32.33%;
    height: 400px; } }
@media only screen and (max-width: 460px) {
  /*  Responsive sur 12 col */
  .devicon-zoom, .fa-zoom {
    font-size: 50px;
    float: right;
    margin-right: 15px; }

  .skills-page h3 {
    font-size: 24px;
    margin: 0px; }

  .pourcent {
    font-size: 28px;
    text-align: right; }

  .project {
    background-color: #CCCDCD;
    width: 100%;
    height: 400px; } }

/*# sourceMappingURL=style.css.map */
